html,
body {
  margin: 0;
  padding: 0;
  background-image: url('./pics/cool-background\ \(1\).png');
  background-repeat: no-repeat;
  background-size: cover;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  /* z-index: 0; */
  
}

.App {
  text-align: center;
  z-index: -1;
  /* position: relative; */
}
